{% extends "votacao/header.html" %}

{% block content %}
<h1>Criar nova questão</h1>

{% if error_message %}
    <h2>{{error_message}}</strong></h2>
{% endif %}
<div class="containerForm">
<form class="criarquestao"  method="post" action="{% url 'votacao:criarquestao' %}"  target="_self">
  {% csrf_token %}
<fieldset>
  <label for="questao_texto">Texto da nova questão</label><br>
  <input type="text" id="questao_texto" name="questao_texto" value=""><br>
  <input type="submit" value="Submit">
</fieldset>
</form>
</div>
{% endblock %}