{% extends "votacao/header.html" %}
{% block content %}


<h1>Criar um novo utilizador</h1>
<div class="containerForm">
<form class="criaruser"  method="post" action="{% url 'votacao:novouser' %}" enctype="multipart/form-data">
  {% csrf_token %}
<fieldset>
  <label for="avatar">ProfilePic:</label>
  <input type="file" id="avatar" name="avatar" accept="image/gif, image/jpg, image/jpeg, image/png"><br>

  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password"><br>
  <label for="nome_completo">Nome completo:</label><br>
  <input type="text" id="nome_completo" name="nome_completo"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="grupo_trab">Grupo de Trabalho:</label><br>
  <input type="text" id="grupo_trab" name="grupo_trab"><br>
  <label for="curso">Curso:</label><br>
  <input type="text" id="curso" name="curso"><br>
    <label for="comentario">Comentário:</label><br>
  <input type="text" id="comentario" name="comentario"><br>
</fieldset>
    <input type="submit" value="Registar">
    <input onclick="forbidenWords()" type="button" value="Validar Comentário">
</form><br>

</div>
{% endblock %}