{% extends "votacao/header.html" %}

{% block content %}
<h1>Criar nova opção</h1>
{% if error_message %}
    <p><strong>{{error_message}}</strong></p>
{% endif %}

<h2>Questão : {{ questao.questao_texto }}</h2>
<div class="containerForm">
<form class="criaropcao"  method="post" action="{% url 'votacao:criaropcao' questao.id %}">
  {% csrf_token %}
<fieldset>
  <label for="opcao_texto">Texto da nova Opção:</label><br>
  <input type="text" id="opcao_texto" name="opcao_texto" value=""><br>
  <input type="submit" value="Gravar nova Opção">
</fieldset>
</form>
</div>
{%endblock content %}
