{% extends "votacao/header.html" %}
{% block content %}
<h1>Resultado da votação</h1>
<h2>Questao: {{questao.questao_texto}}</h2>
<div class="containerForm">
<form>
<fieldset>
<ul>
    {% for opcao in questao.opcao_set.all %}
    <li>{{opcao.opcao_texto}} -- {{opcao.votos}} voto{{opcao.votos|pluralize}}</li>
    {% endfor %}
</ul>
</fieldset>
    <div class="btn-wrapper"
<a href="{% url 'votacao:detalhe' questao.id %}">
    <input type="button" value="Votar novamente?">
</a>
<a href="{% url 'votacao:index' %}">
    <input type="button" value="Voltar">
</a>
    </div>
</form>
    </div>
{% endblock %}
